/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', sans-serif;
}*/

body {
	background-color: rgba(248, 248, 248, 0.808);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	height: 100vh;
	margin-top: 90px;
}

.quiz{
    background-color: #FFF;
	padding: 1rem;
	width: 100%;
	max-width: 640px;
    border-radius: 1rem;
}

.quizbtn {
	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0.5rem 1rem;
	background-color: #ff4548;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	margin-top:10px;
}

button:disabled {
	opacity: 0.5;
} 

.quiz-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.question {
    color: black;
	font-size: 1.25rem;
}

.options {
    margin-bottom: 1rem;
}

.option {
	padding: 1rem;
	display: block;
	background-color: rgba(248, 248, 248, 0.808);
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.option:hover {
	background-color: #ebebebb3;
}

.option input {
	display: none;
}
.showscore
.h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.showscore
.p {
	color: #8F8F8F;
	font-size: 1.5rem;
}

.showscore {
    text-align: center;
}

#selected {
    background-color: cornflowerblue;
    color: #FFF;
}

#correct {
    background-color: green;
    color: #FFF;
}

#incorrect {
    background-color: red;
    color: #FFF;
}