body {
    background-color: rgba(248, 248, 248, 0.808);
  }

.curiositycontainer{
    margin-top: 90px;
    padding: 0;
}

.curiosity {
    text-align: center;
}
.curiositycard{
    background-color: #F5F8FA;
    color: #14171A;
    border: 0;
    margin: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.curiositycard .card-img-top{
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 8px 8px 5px rgb(219, 219, 219);
    margin-top: -40px;
}

.curiositycard .card-title{
    margin-top: 10px;
}

.curiositycard .card-body{
    padding: 0;
}


/*.button {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ff4548;
	color: #FFF;
    font-size: 1.2rem;
	border-radius: 0.5rem;
    appearance: none;
	outline: none;
	border: none;
    font-weight: 700;
}*/