body {
    background-color: rgba(248, 248, 248, 0.808);
  }

.curiositycontainer{
    margin-top: 90px;
    padding: 0;
}

.labelInputComName {
  font-size: 30px;
  color: #14171A;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
}

.labelNotValid {
  font-size: 15px;
  color: #FF4742;
  text-transform: uppercase;
}

.inputComName {
    margin-bottom: 5px;
    text-align: center;
}

.curiosity {
    text-align: center;
}
.curiositycard{
    background-color:#FFF;
    color: #14171A;
    border: 0;
    margin: 1px;
    padding: 28px;
    border-radius: 0px;
    box-sizing: border-box;
    box-shadow: 8px 8px 9px #b3b2b1;
}

.curiositycard .card-img-top{
    border: 0.5px solid rgb(196, 194, 194);
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: -50px;
    box-shadow: 2px 2px 2px rgb(196, 194, 194);
}

.curiositycard .card-title{
  margin-top: 10px;
  font-size: 30px;
  color: #14171A;
  text-transform: uppercase;
}

.curiositycard .card-body{
    padding: 0;
}

.labelCommonName .curiositycard .card-text{
  font-weight: 0;
  color: #14171A;
  text-transform: capitalize;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*.button {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ff4548;
	color: #FFF;
    font-size: 1.2rem;
	border-radius: 0.5rem;
    appearance: none;
	outline: none;
	border: none;
    font-weight: 700;
}*/

.btnCuriosity {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 50px;
  outline: 0;
  padding: 0px;
  text-align: center;
  text-rendering: geometricprecision;
  vertical-align: middle;
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 10px;
}

.btnCuriosity:active {
  transform: translateY(4px);
  background-color: initial;
}

.btnCuriosity:hover{
  background-color: initial;
  color: #FF4742;
}
