body {
  background-color: rgba(248, 248, 248, 0.808);
}

.videocontainer{
  margin-top: 90px;
  padding: 0;
}

.videocontainer .row{
  padding: 0;
  margin: 0;
}

.form-check label{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	background-color: #EEE;
	border-radius: 0rem;
	cursor: pointer;
  border-radius: 0.5rem;
}

.form-check label:hover{
  transition: transform 0.5s;
  transform: translateY(4px);
}

.form-check label:click{
  transform: translateY(4px);
}

.formButton{
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border-radius: 0.5rem;
}

.filtercontainer{
  margin-bottom: 1rem !important;
}

.extCon{
	margin-top: 3rem;
}
.extCon2{
  margin-top: 0.2rem;
}

.searchbtn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 50px;
  outline: 0;
  padding: 0px;
  text-align: center;
  text-rendering: geometricprecision;
  vertical-align: middle;
  width: 100%;
}

.searchbtn:active {
  transform: translateY(4px);
}

.searchbtn:focus{
  background-color: initial;
  color: #FF4742;
}

.searchbtn:hover{
  background-color: initial;
  color: #FF4742;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #3A82EE;
}

.bubble.personal {
	border-color: #EA40A4;
}

.bubble::after {
	content: "";
	display: flex;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: #3A82EE;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: #EA40A4;
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.catTitles{
  display: flex;
  margin-top: 0.5rem;
}

.CustomCat{
  font-family:'Franklin Gothic Medium';
  margin: 0;
  text-align: center;
  line-height: 0.9;
  font-weight: 500;
  color: #353535;
}

.videoSize{
  min-height: 15rem;
  width: 100%;
}

.cardCustom{
  padding: 0rem;
  border-radius: 0rem;
  background-color: white;
  color: black;
  border: 0;
  margin: 1px;
}

.cardCustom:hover{
  transition: transform 0.5s;
  transform: translateY(-4px);
}

.descButton2{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 50px;
  outline: 0;
  padding: 0px;
  text-align: center;
  text-rendering: geometricprecision;
  vertical-align: middle;
  font-size: 25px;
  width: 50px;
}

